@use '../utiles/utiles' as *;

.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.book-card {
  background-color: $main-color--light;
  border-radius: 4px;
  border: 1px solid hsla(240, 72%, 13%, 10%);
  padding: 20px;
  margin: 1.5vh 0;
  min-width: 250px;
  width: 20%;
  max-width: 400px;
  aspect-ratio: 4/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'image image'
    'title title'
    'author price'
    'button button';

  &__img {
    grid-area: image;
    aspect-ratio: 16 / 9;
    width: clamp(100px, 80%, 250px);
    object-fit: cover;
    border-radius: 4px;
    margin: 0 auto;
  }
  &__title {
    grid-area: title;
    text-align: center;
    margin: 1.5vh 0;

    @include text-s($black);
  }
  &__author {
    grid-area: author;
    @include text-xs($grey);
  }
  &__price {
    @include text-m($main-color--dark);
    grid-area: price;
    text-align: right;
    align-self: start;
    margin-bottom: 10px;

    &::after {
      content: ' €';
    }
  }
  &__button {
    border: none;
    border-radius: 4px;
    grid-area: button;
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}
