header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  gap: 10px;
  align-items: center;
  grid-template-areas: 'logo input icons';
  background-color: orange;
  padding: 3vh 2vw;
}

header .company-logo--small {
  grid-area: logo;
}

header input {
  grid-area: input;
  max-width: 800px;
}

header .icon-container {
  grid-area: icons;
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 592px) {
    flex-direction: row;
    gap: 1.5rem;
  }
}

header .liked-books-number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

header .liked-books-container {
  position: relative;
  margin-top: 1.5rem;
  @media screen and (min-width: 592px) {
    margin-top: 0;
  }
}
