@use '../utiles/_typography.scss' as *;

.checkout-page {
  padding: 0 5vw;

  header {
    grid-area: header;
    margin-bottom: 10vh;
  }
  main {
    grid-area: main;
    margin-left: 20vw;
  }
  aside {
    grid-area: aside;
    margin-right: 20vw;
  }
  &__buttons-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
  }
  &__total {
    @include text-m;
    font-weight: 900;
    text-align: center;
  }
}
