@use '../utiles/_utiles.scss' as *;
.signup-page {
  display: flex;
  &__img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }
  &__content {
    margin: 10vh 8vw 0;
  }

  &__logo {
    margin: 0 auto 0vh;
    display: block;
  }

  &__welcome {
    @include text-m($grey);
  }
  &__title {
    @include text-l($black);
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    label {
      margin-top: 5vh;
      margin-bottom: 1vh;
      @include text-s($black);
    }
    :placeholder {
      @include text-s($grey);
    }
    label[for='checkbox'] {
      @include text-xs($main-color--dark);
    }
    input[name='checkbox'] {
      margin-right: 10px;
    }
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
}
