@use '../utiles/utiles' as *;
.single-book {
  margin: 5vh 5vw;
  h1 {
    display: inline-block;
  }
  .button-cta--2text {
    margin-right: 0;
  }

  &__category-tag {
    @include text-m($black);
  }
}
.book-info {
  display: grid;
  grid-template-columns: 33vw auto 44px;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'cover title icon'
    'cover author .'
    'cover summary .'
    'cover description description';

  &__cover {
    grid-area: cover;
  }
  &__title {
    grid-area: title;
    @include text-xl;
    margin-bottom: 0.5em;
  }
  &__icon {
    grid-area: icon;

    width: 20px;
    height: 20px; /* 
    padding: 30px; */
    border-radius: 10px;
    background-color: $main-color--light;
  }
  &__author {
    grid-area: author;
    @include text-l($grey);
    margin-bottom: 2.5em;
  }
  &__summary {
    grid-area: summary;
    @include text-m($black);
    margin-bottom: 0.6em;
  }
  &__description {
    grid-area: description;
    @include text-s($grey);
    line-height: 1.6em;
    margin-bottom: 10vh;
  }
}
