* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-family: 'Manrope', sans-serif;

$main-color--dark: #6251dd;
$main-color--light: #f4f4ff;
$accent-color: #ef6b4a;
$grey: hsla(240, 72%, 13%, 60%);
$black: #090937;

$font-xs: 1.6rem;
$font-s: 2rem;
$font-m: 2.4rem;
$font-l: 3.2rem;
$font-xl: 4rem;
$font-xxl: 5.6rem;

input {
  border: none;
  padding: 0.5em;
  height: fit-content;
  background-color: $main-color--light;
}
