* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  padding: 0.5em;
  height: fit-content;
  background-color: #f4f4ff;
}

.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card, .book-card--vertical, .book-card--horizontal {
  background-color: #f4f4ff;
  border-radius: 4px;
  border: 1px solid hsla(240, 72%, 13%, 0.1);
  display: grid;
  align-items: center;
  padding: 20px;
}
.book-card__img {
  margin: 0 auto 20px;
}
.book-card--horizontal {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px auto;
  grid-template-areas: "img title" "img author" "img price";
}
.book-card--horizontal .book-card__img {
  margin-right: 10px;
}
.book-card--horizontal .book-card__title {
  margin-top: 10px;
}
.book-card--horizontal .book-card__price {
  text-align: left;
  align-self: end;
  margin-bottom: 10px;
}
.book-card--vertical {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90% auto auto;
  width: 20%;
  min-width: 250px;
  grid-template-areas: "img img" "title ." "author price";
}
.book-card__img {
  grid-area: img;
  aspect-ratio: 2/3;
  width: clamp(100px, 80%, 250px);
  object-fit: cover;
  border-radius: 4px;
}
.book-card__title {
  grid-area: title;
  font-size: 2rem;
}
.book-card__author {
  grid-area: author;
  font-size: 1.6rem;
}
.book-card__price {
  grid-area: price;
  font-size: 2.4rem;
  text-align: right;
}
.book-card__price::after {
  content: " $";
}

.test {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px auto;
  width: fit-content;
  grid-template-areas: "img title" "img author" "img price";
}
.test .book-card__img {
  margin-right: 10px;
}
.test .book-card__title {
  margin-top: 10px;
}
.test .book-card__price {
  text-align: left;
  align-self: end;
  margin-bottom: 10px;
}

.button-cta {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  background-color: #ef6b4a;
  color: white;
}

.button-secondary {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  background-color: white;
  color: #6251dd;
  border: 1px solid #6251dd;
}

.button-buy {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  color: white;
  background-color: #ef6b4a;
}

header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  gap: 10px;
  align-items: center;
  grid-template-areas: "logo input icons";
  background-color: orange;
  padding: 3vh 2vw;
}

header .company-logo--small {
  grid-area: logo;
}

header input {
  grid-area: input;
  max-width: 800px;
}

header .icon-container {
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 592px) {
  header .icon-container {
    flex-direction: row;
  }
}

.social_icon {
  width: 24px;
  height: 24px;
}

.company-logo--small {
  width: 60px;
  height: 60px;
}
.company-logo--big {
  width: 120px;
  height: 120px;
}

.arrow-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.category-page h1 {
  display: inline-block;
}

.checkout-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header header" "main aside";
}
.checkout-page header {
  grid-area: header;
  margin-bottom: 10vh;
}
.checkout-page main {
  grid-area: main;
  margin-left: 20vw;
}
.checkout-page aside {
  grid-area: aside;
  margin-right: 20vw;
}
.checkout-page__buttons-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.signup-page {
  display: flex;
}
.signup-page__img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}
.signup-page__content {
  margin: 10vh 8vw 0;
}
.signup-page__logo {
  margin: 0 auto 0vh;
  display: block;
}
.signup-page__form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.signup-page__form label {
  margin-top: 5vh;
  margin-bottom: 1vh;
}
.signup-page__form input[name=checkbox] {
  margin-right: 10px;
}
.signup-page .button-container {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
}
.login-page__img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}
.login-page__content {
  margin: 10vh 8vw 0;
}
.login-page__logo {
  margin: 0 auto 10vh;
  display: block;
}
.login-page__form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.login-page__form label {
  margin-top: 5vh;
  margin-bottom: 1vh;
}
.login-page__form input[name=checkbox] {
  margin-right: 10px;
}
.login-page .button-container {
  display: flex;
  flex-direction: column;
}

.user-page {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 20vw auto;
  justify-items: center;
  grid-template-areas: "img liked-books" "address cart-books" "links suggested-books";
  margin: 10vh auto auto 10vw;
}
.user-page__img {
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  grid-area: img;
}
.user-page address {
  grid-area: address;
  align-self: center;
}

/* .books-lists-container {
  position: fixed;
  inset: 15vh 10vw auto auto;
} */
.liked-books {
  display: flex;
  justify-content: left;
  margin: 10vh auto;
  grid-area: liked-books;
}

.cart-books {
  display: flex;
  justify-content: left;
  margin: 10vh auto;
  grid-area: cart-books;
}

.suggested-books {
  display: flex;
  justify-content: left;
  margin: 10vh auto;
  grid-area: suggested-books;
}

.option-links-container {
  display: flex;
  flex-direction: column;
  grid-area: links;
  align-self: center;
}

/*# sourceMappingURL=main.css.map */
