* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* 16 */
/* 20 */
/* this can be black, grey or accent */
/* 24 */
/* this can be black or grey */
/* 32 */
/* 40 */
/* 56 */
input {
  border: none;
  padding: 0.5em;
  height: fit-content;
  background-color: #f4f4ff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 
16 xs
20 s
24 m
32 l
40 xl
56 xxl
*/
.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card-container li {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.book-card, .book-card--vertical, .book-card--horizontal {
  background-color: #f4f4ff;
  border-radius: 4px;
  border: 1px solid hsla(240, 72%, 13%, 0.1);
  display: grid;
  align-items: center;
  padding: 20px;
  max-width: 400px;
}
.book-card__img {
  grid-area: img;
  aspect-ratio: 2/3;
  width: clamp(100px, 80%, 250px);
  object-fit: cover;
  border-radius: 4px;
  margin: 0 auto 20px;
}
.book-card__title {
  grid-area: title;
  margin-top: 10px;
  font-size: 2rem;
  color: #090937;
}
.book-card__author {
  grid-area: author;
  font-size: 1.6rem;
  color: hsla(240, 72%, 13%, 0.6);
}
.book-card__price {
  font-size: 2.4rem;
  color: #6251dd;
  grid-area: price;
  text-align: right;
  align-self: end;
  margin-bottom: 10px;
}
.book-card__price::after {
  content: " $";
}
.book-card--horizontal {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px auto;
  grid-template-areas: "img title" "img author" "img price";
}
.book-card--vertical {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90% auto auto;
  width: 20%;
  min-width: 250px;
  grid-template-areas: "img img" "title ." "author price";
}

.test {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px auto;
  width: fit-content;
  grid-template-areas: "img title" "img author" "img price";
}
.test .book-card__img {
  margin-right: 10px;
}
.test .book-card__title {
  margin-top: 10px;
}
.test .book-card__price {
  text-align: left;
  align-self: end;
  margin-bottom: 10px;
}

.button-cta {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  background-color: #ef6b4a;
  color: white;
}

.button-cta--2text {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  background-color: #ef6b4a;
  color: white;
}

.button-secondary {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  background-color: white;
  color: #6251dd;
  border: 1px solid #6251dd;
}

.button-buy {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 0.5em;
  margin: 5px auto;
  color: white;
  background-color: #ef6b4a;
}

header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  gap: 10px;
  align-items: center;
  grid-template-areas: "logo input icons";
  background-color: orange;
  padding: 3vh 2vw;
}

header .company-logo--small {
  grid-area: logo;
}

header input {
  grid-area: input;
  max-width: 800px;
}

header .icon-container {
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 592px) {
  header .icon-container {
    flex-direction: row;
  }
}

.social_icon {
  width: 24px;
  height: 24px;
}

.company-logo--small {
  width: 60px;
  height: 60px;
}
.company-logo--big {
  width: 120px;
  height: 120px;
}

.arrow-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.page-main-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 3vh 0;
}

.category-page__title {
  font-size: 2.4rem;
  color: #090937;
}

.checkout-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header header" "main aside";
}
.checkout-page header {
  grid-area: header;
  margin-bottom: 10vh;
}
.checkout-page main {
  grid-area: main;
  margin-left: 20vw;
}
.checkout-page aside {
  grid-area: aside;
  margin-right: 20vw;
}
.checkout-page__buttons-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.home-page main {
  margin: 0 5vw;
}
.home-page__book-list ul li {
  margin: 3vh 0;
}
.home-page__view-all-link {
  font-size: 2rem;
  color: #ef6b4a;
}

.hero div {
  border-radius: 8px;
  background: url("https://images.unsplash.com/photo-1629470937928-5f873c06005c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  height: 400px;
}
.hero div h2 {
  max-width: 17ch;
}
.hero div h2 span {
  display: block;
}

.home-page__book-list {
  display: flex;
  justify-content: space-between;
}
.home-page__book-list h2 {
  font-size: 3.2rem;
  color: #090937;
}

.single-book {
  margin: 5vh 5vw;
}
.single-book h1 {
  display: inline-block;
}
.single-book .button-cta--2text {
  margin-right: 0;
}
.single-book__category-tag {
  font-size: 2.4rem;
  color: #090937;
}

.book-info {
  display: grid;
  grid-template-columns: 33vw auto 44px;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "cover title icon" "cover author ." "cover summary ." "cover description description";
}
.book-info__cover {
  grid-area: cover;
}
.book-info__title {
  grid-area: title;
  font-size: 4rem;
  color: #090937;
  margin-bottom: 0.5em;
}
.book-info__icon {
  grid-area: icon;
  width: 20px;
  height: 20px; /* 
padding: 30px; */
  border-radius: 10px;
  background-color: #f4f4ff;
}
.book-info__author {
  grid-area: author;
  font-size: 3.2rem;
  color: hsla(240, 72%, 13%, 0.6);
  margin-bottom: 2.5em;
}
.book-info__summary {
  grid-area: summary;
  font-size: 2.4rem;
  color: #090937;
  margin-bottom: 0.6em;
}
.book-info__description {
  grid-area: description;
  font-size: 2rem;
  color: hsla(240, 72%, 13%, 0.6);
  line-height: 1.6em;
  margin-bottom: 10vh;
}

.signup-page {
  display: flex;
}
.signup-page__img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}
.signup-page__content {
  margin: 10vh 8vw 0;
}
.signup-page__logo {
  margin: 0 auto 0vh;
  display: block;
}
.signup-page__welcome {
  font-size: 2.4rem;
  color: hsla(240, 72%, 13%, 0.6);
}
.signup-page__title {
  font-size: 3.2rem;
  color: #090937;
}
.signup-page__form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.signup-page__form label {
  margin-top: 5vh;
  margin-bottom: 1vh;
  font-size: 2rem;
  color: #090937;
}
.signup-page__form :placeholder {
  font-size: 2rem;
  color: hsla(240, 72%, 13%, 0.6);
}
.signup-page__form label[for=checkbox] {
  font-size: 1.6rem;
  color: #6251dd;
}
.signup-page__form input[name=checkbox] {
  margin-right: 10px;
}
.signup-page .button-container {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
}
.login-page__img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}
.login-page__content {
  margin: 10vh 8vw 0;
}
.login-page__logo {
  margin: 0 auto 10vh;
  display: block;
}
.login-page__welcome {
  font-size: 2.4rem;
  color: hsla(240, 72%, 13%, 0.6);
}
.login-page__title {
  font-size: 3.2rem;
  color: #090937;
}
.login-page__form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.login-page__form label {
  margin-top: 5vh;
  margin-bottom: 1vh;
  font-size: 2rem;
  color: #090937;
}
.login-page__form :placeholder {
  font-size: 2rem;
  color: hsla(240, 72%, 13%, 0.6);
}
.login-page__form label[for=checkbox] {
  font-size: 1.6rem;
  color: #6251dd;
}
.login-page__form input[name=checkbox] {
  margin-right: 10px;
}
.login-page .button-container {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
